@import "compass";
@import "base/_variables.scss";
@import "base/_mixins.scss";

/*======================================
FONTS
======================================*/

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, p, h1, h2, h3 {
  font-family: "proxima-nova",sans-serif;
}

p, h1, h2, h3 {
  margin-top: 0px;
  margin-bottom: 10px;
}

p {
    font-weight: 400;
}

h1 {
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: inherit;
}

/*======================================
COMPONENTS
======================================*/

/*=== Buttons ===*/

a.primary_button {
    border: 2px solid #ffffff;
    display: inline-block;
    padding: 5px 30px;
    font-size: 20px;
    font-weight: 700;
}

a.play_button {
    background: rgba(255,255,255,.1);
    padding: 10px 40px;
    border: 2px solid #fff;
    display: inline-block;
    font-size: 20px;
    color: #fff;

    .fa-play {
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }
}

/*=== Lists ===*/

ul {
    list-style-type: none;
    -webkit-padding-start: 0;
}

/*=== Colors ===*/

.grey {
    color: $lightgrey;
}

/*======================================
MAIN PANEL
======================================*/

nav.main_panel {
    background: $darkgrey;
    width: 15%;
    height: 100%;
    position: fixed;
    text-align: center;
    color: $white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*=== Logo ===*/

.logo_container {
    margin-bottom: 30px;
}

/*=== Menu ===*/

ul.menu {

    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: center;

    li {
        font-weight: 700;
        font-size: 20px;
        color: $white;
        padding: 3px 0px;
    }

}

/*=== Social ===*/

ul.social_list {

    li {
        display: inline-block;
        padding: 0px 13px;
    }

}

/*======================================
OVERALL STRUCTURE
======================================*/

#main_content {
    width: 85%;
    float: right;
}

/*======================================
FULL WIDTH SECTIONS
======================================*/

/*=== Gerenal Styles for each Section ===*/

.fp-tableCell {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10;
}

p.section_content {
    color: $white;
    font-size: 30px;
    padding: 0px 20px;
}

/*=== Section with Full Screen Background image ===*/

.section.bgimg {

    .fp-tableCell {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    p.section_content {
        text-align: center;
        margin-bottom: 50px;
        text-shadow: 1px 1px #000;
        width: 80%;
    }

    &:before {
        @include overlay(rgba(0,0,0,.5));
        z-index: 9;
    }

}

/*=== Section with Screenshot on the left ===*/

.section.screenshot {

    background: $mediumgrey;

    .fp-tableCell {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .screenshot_container_left {
        width: 55%;
        padding-right: 20px;

        img {
            display: block;
            width: 100%;
            box-shadow: 2px 2px 15px $darkgrey;
        }
    }

    .screenshot_container_right {
        width: 55%;
        padding-left: 20px;

        img {
            display: block;
            width: 100%;
            box-shadow: 2px 2px 15px $darkgrey;
        }
    }

    p.section_content {
        width: 50%;
    }
    
}
