@import "compass";
@import "base/_variables.scss";
@import "base/_mixins.scss";

/*======================================
FONTS
======================================*/

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, p, h1, h2, h3 {
  font-family: "proxima-nova", sans-serif;
}

p, h1, h2, h3 {
  margin-top: 0px;
  margin-bottom: 10px;
}

p {
    font-size: 30px;
    font-weight: 400;

    &.small {
        font-size: 18px;
    }
}

h1 {
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: inherit;
}

/*======================================
COMPONENTS
======================================*/

/*=== Buttons ===*/

a.primary_button {
    border: 2px solid #ffffff;
    display: inline-block;
    padding: 5px 30px;
    font-size: 20px;
    font-weight: 700;
}

a.solid_button {
    border: 2px solid #ffffff;
    background: rgba(255,255,255,1);
    display: inline-block;
    width : 155px;
    margin : 0 25px;
    font-size: 20px;
    font-weight: 700;
    color : #333;
    text-shadow: none;
    
    img {
        height : 40px;
        position : relative;
        top : 2px;
    }

    .button_text {
        bottom: 10px;
        position: relative;
        left: 3px;
        width: 60px;
        display: inline-block;
    }
}

a.play_button {
    background: rgba(255,255,255,.1);
    padding: 10px 40px;
    border: 2px solid #fff;
    display: inline-block;
    font-size: 20px;
    color: #fff;

    .fa-play {
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }
}

/*=== Lists ===*/

ul {
    list-style-type: none;
    -webkit-padding-start: 0;
}

/*=== Colors ===*/

.grey {
    color: $lightgrey;
}

/*=== Helpers ===*/

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

/*=== Up/Down Navigation ===*/

.section_navigation {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 85%;
    right: 0;
    font-size: 40px;
    color: $white;
    user-select         : none;

    a {
        cursor: pointer;
    }
}

/*======================================
MAIN PANEL
======================================*/

nav.main_panel {
    background: $darkgrey;
    width: 15%;
    height: 100%;
    position: fixed;
    text-align: center;
    color: $white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*=== Logo ===*/

.logo_container {
    margin-bottom: 30px;
}

/*=== Menu ===*/

ul.menu {

    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: center;

    li {
        font-weight: 700;
        font-size: 20px;
        color: $white;
        padding: 3px 0px;
    }

}

/*=== Social ===*/

ul.social_list {

    li {
        display: inline-block;
        padding: 0px 13px;
    }

}

/*======================================
OVERALL STRUCTURE
======================================*/

#main_content {
    width: 85%;
    float: right;
}

/*======================================
FULL WIDTH SECTIONS
======================================*/

/*=== Gerenal Styles for each Section ===*/

.fp-tableCell {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.section_content {
    color: $white;
    padding: 0px 20px;
}

/*=== Section with Full Screen Background image ===*/

.section.bgimg {

    background-size: cover;
    background-repeat: no-repeat;

    .fp-tableCell {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section_content {
        text-align: center;
        margin-bottom: 50px;
        text-shadow: 1px 1px #000;
        width: 80%;
    }

    &:before {
        @include overlay(rgba(0,0,0,.5));
        z-index: 9;
    }

}

/*=== Section with Screenshot on the left ===*/

.section.screenshot {

    background: $mediumgrey;
    background-size: cover;
    background-repeat: no-repeat;

    .fp-tableCell {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .screenshot_container_left {
        width: 55%;
        padding-right: 20px;

        img {
            display: block;
            width: 100%;
            box-shadow: 2px 2px 15px $darkgrey;
        }
    }

    .screenshot_container_right {
        width: 55%;
        padding-left: 20px;

        img {
            display: block;
            width: 100%;
            box-shadow: 2px 2px 15px $darkgrey;
        }
    }

    .section_content {
        width: 50%;
    }

    &:before {
        @include overlay(rgba(0,0,0,.5));
        z-index: 9;
    }
    
}

/*======================================
PAGE OVERLAYS
======================================*/

.page_overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    background: #fff;
    width: 85%;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-in-out;

    .content {
        width: 80%;
        text-align: center;
        margin: 0 auto;

        p {
            margin-bottom: 30px;
        }
    }

    &.visible {
        opacity: 1;
        visibility: visible;
        transition: opacity .5s ease-in-out;
    }
}

/*=== RANGE SLIDER INFO ===*/

.range-container {
    width : 50%;
    margin : auto;
    margin-bottom: 25px;
}
.rangeslider,
.rangeslider__fill {
    display: block;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.rangeslider {
    position: relative;
    border: white 1px solid;
    width : 60%;
}

.rangeslider--horizontal {
    height: 26px;
    width: 100%;
}

.rangeslider__fill {
    background: rgba(255, 255, 255, .4);
    position: absolute;
}
.rangeslider--horizontal .rangeslider__fill {
    top: 0;
    height: 100%;
}
.rangeslider--vertical .rangeslider__fill {
    bottom: 0;
    width: 100%;
}

.rangeslider__handle {
    background: white;
    border: 1px solid #ccc;
    cursor: pointer;
    display: inline-block;
    width: 40px;
    height: 40px;
    position: absolute;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
.rangeslider--horizontal .rangeslider__handle {
    top: -7px;
    touch-action: pan-y;
    -ms-touch-action: pan-y;
}

input[type="range"]:focus + .rangeslider .rangeslider__handle {
    box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
}


/*=== Back Button ===*/

a.back_to_story {
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 20px;
    cursor: pointer;
}

/*=== Team Page ===*/

ul.team_list {
    li {
        font-size: 23px;
    }
}
